/*Responsive
/*Para vista en Tablet*/
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li{
        font-size: 16px;
    }
}

/*Para vista en Movil*/
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed
    }

}