*{
    padding: 0%;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* Color, alto y ancho de la linea horizontar*/
nav{
    background: #201f1f;
    height: 85px;
    width: 100%;
/* Posicion del logo */
}
.enlace{
    position: absolute;
    padding: 10px;
}
/*Distancia de los titulos*/
nav ul{
    float: right;
    margin-right: 20px;
}
/*Centrado de los titulos y separacion entre ellos*/
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin:0 10px;
}
/*Relleno alrededor de los titulos,color, titulos en mayuscula*/
nav ul li a{
    color:#f3eeee;
    font-size: 15px;
    padding: 4px 13px;
    border-radius: 3px;
    text-transform: uppercase;
/*El cuadrito de la esquina o donde se supone que van las tres 
lineas del menu, se escondan*/
}
#check{
    display: none;
}
/*Fondo del sitio*/
section{
    background: url(fondodulce.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(70vh - 70px); /*Que ocupe lo necesario*/
    
}